# build files
/binding.o
/build/*
!/build/.gitkeep
/ggml-metal.metal
/libbinding.a
prepare

# just in case
.DS_Store
.idea
.vscode
Thumbs.db

# model files downloaded by the test script
ggllm-test-model.bin

# patch artifacts
*.orig
*.rej

# model files
**/*.gguf

# macOS
.DS_Store

# Windows
Thumbs.db

# Linux
.directory

# build cache
*.o
*.log